<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- SEO metadata -->
  <meta name="description"
    content="onHeels-Digital platform to compare fashion products and support local businesses in Barranquilla.">
  <meta name="keywords" content="fashion, Barranquilla, online shopping, local stores, catalog, digital">
  <meta name="sitedomain" content="onheels.com">
  <meta name="organization" content="CyberQueens">
  <meta name="author" content="Kateryn Martinez">
  <meta name="designer" content="Kateryn Martinez">
  <meta name="copyright" content="© 2025 CyberQueens. All rights reserved">
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow">
  <meta name="revisit-after" content="15days">
  <title>seller</title> <!-- Title displayed in the browser tab -->

  <!-- External CSS file -->
  <link rel="stylesheet" href="/views/src/css/view_seller.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>


  <header class="header">
    <div class="header-content">
      <div class="logo-section">
  <img src="abstract-logo.png" alt="Logo" class="logo">
  <span class="logo-text">onHeels</span>
  <a href="/cart" style="margin-left:20px;"><button class="cart-button" id="cartBtn">🛒 Carrito</button></a>
      </div>
      <div class="extra">
        <span>Top sales: </span>
      </div>
    </div>
  </header>

  <!-- Navigation menu -->
  <nav>
    <a href="#"> Dashboard</a>
    <a href="#"> Products</a>
    <a href="#"> Orders</a>
    <a href="#"> Messages</a>
    <a href="#"> Store setting</a>
    <a href="#"> Payment</a>
  </nav>


  <main>
    <!-- icon and title section -->
    <div class="tittle-seller">
      <h1>My store</h1>
    </div>

    <!-- main image container -->
    <div class="store-img">
      <img src="/public/assets/logo.png" alt="store_image" width="100">
    </div>

    <!-- Action buttons -->
    <div class="buttons">
      <a href="#" class="btn">Add product</a>
      <a href="#" class="btn">Delete product</a>
      <a href="#" class="btn">Manage inventory</a>
    </div>
  </main>

  <footer class="footer">
    <div class="footer-content">
      <div class="footer-text">
        <p class="footer-title">Do you want to explore more of our work?</p>
        <p class="footer-subtitle">Follow us on our social networks and contact us</p>
      </div>

      <div class="social-links">
        <a href="#" target="_blank">
          <img src="/views/public/assets/icons/wpp.png" alt="WhatsApp">
        </a>
        <a href="#" target="_blank">
          <img src="/views/public/assets/icons/instagram.png" alt="Instagram">
        </a>
        <a href="#" target="_blank">
          <img src="/views/public/assets/icons/facebook.png" alt="Facebook">
        </a>
        <a href="#" target="_blank">
          <img src="/views/public/assets/icons/github.png" alt="GitHub">
        </a>
      </div>

      <div class="contact-info">
        <p>onheels@gmail.com</p>
        <p>Barranquilla, Colombia</p>
      </div>
    </div>
  </footer>

</body>

</html>