<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>onHeels | Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/views/src/css/view_stores.css">
</head>

<body>
    <header class="header">
        <div class="header-content">
            <div class="logo-section">
            <img src="abstract-logo.png" alt="Logo" class="logo">
            <span class="logo-text">onHeels</span>
            <a href="/cart" style="margin-left:20px;"><button class="cart-button" id="cartBtn">🛒 Carrito</button></a>
            </div>
            <div class="extra">
                <span>Top sales: </span>
            </div>
        </div>
    </header>
    <nav class="nav">
        <div class="nav-links">
            <a href="#" class="nav-link">Home</a>
            <a href="#" class="nav-link">Products</a>
            <a href="#" class="nav-link">About us</a>
            <a href="#" class="nav-link">Dashboard</a>
            <a href="#" class="nav-link">Contact</a>
            <a href="#" class="nav-link">Stores</a>
        </div>
    </nav>

    <main>
        <section class="banner">
            <p><strong>Buy without registering</strong>. Register and get 10% OFF!</p>
        </section>

        <section class="slider">
            <div class="slider-content">
                <h1>Welcome to onHeels</h1>
                <p>Your one-stop shop for local fashion in Barranquilla.</p>
                <a href="#" class="cta-button">Shop Now</a>
            </div>
        </section>



        <section class="explore">
            <header>
                <h2>Exploring Downtown Barranquilla</h2>
                <p>In one click, turn low prices into top quality.</p>
            </header>
            <div class="shops">

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Anastasia BH.png" alt="Tienda 2 shop front">
                        <figcaption>Anastasia Beverly Hils</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Anastasia Soare</p>
                    <p><strong>Bestseller:</strong> Blush</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Antonia.png" alt="Tienda 2 shop front">
                        <figcaption>Antonia</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Antonia Giacinti</p>
                    <p><strong>Bestseller:</strong> Shirt</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Baldinini.png" alt="Tienda 3 shop front">
                        <figcaption>Baldinini</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Jimmy Baldinini</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Benefit.png" alt="Tienda 4 shop front">
                        <figcaption>Benefit</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Jean y Jane Fordz</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Celine.png" alt="Tienda 5 shop front">
                        <figcaption>Celine</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Céline Vipiana</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Charlotte Tilbury.png" alt="Tienda 6 shop front">
                        <figcaption>Charlotte Tilbury</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Charlotte Tilbury</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Dimora.png" alt="Tienda 7 shop front">
                        <figcaption>Dimora</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Fabrizio Barbieri</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Dior.png" alt="Tienda 8 shop front">
                        <figcaption>Dior</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Christian Dior</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Estee Lauder.png" alt="Tienda 9 shop front">
                        <figcaption>Lauder Family</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> María López</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Etro.png" alt="Tienda 10 shop front">
                        <figcaption>Etro</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Francesco Freschi</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Fenty.png" alt="Tienda 11 shop front">
                        <figcaption>Fenty</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Robyn Rihanna Fenty</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Ganni.png" alt="Tienda 2 shop front">
                        <figcaption>Ganni</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Nicolaj y Ditte Reffstrup</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Holzweiler.png" alt="Tienda 2 shop front">
                        <figcaption>Holzweiler</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Andreas Holzweiler </p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Huda Beauty.png" alt="Tienda 2 shop front">
                        <figcaption>Huda Beauty</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Huda Kattan</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Isaia.png" alt="Tienda 2 shop front">
                        <figcaption>Isaia</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Gianluca Isaia</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Jimmy Choo.png" alt="Tienda 2 shop front">
                        <figcaption>Jimmy Choo</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Jimmy Choo</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Ksubi.png" alt="Tienda 2 shop front">
                        <figcaption>Ksubi</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Dan Single</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/L'oreal.png" alt="Tienda 2 shop front">
                        <figcaption>L'oreal</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Bettencourt Meyers</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Lancome.png" alt="Tienda 2 shop front">
                        <figcaption>Lancome</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Armand Petitjean</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Levi's.png" alt="Tienda 2 shop front">
                        <figcaption>Levi's</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> María López</p>
                    <p><strong>Bestseller:</strong> Michelle D. Gass</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/MAC.png" alt="Tienda 2 shop front">
                        <figcaption>MAC</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Frank Toskan</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Marbella.png" alt="Tienda 2 shop front">
                        <figcaption>Marbella</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong>Miranda Coggins</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Maybelline.png" alt="Tienda 2 shop front">
                        <figcaption>Maybelline</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Tom Lyle Williams</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Nars.png" alt="Tienda 2 shop front">
                        <figcaption>Nars</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> François Nars</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Nyx.png" alt="Tienda 2 shop front">
                        <figcaption>Nyx</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Toni Ko</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Rare.png" alt="Tienda 2 shop front">
                        <figcaption>Rare</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Selena Gomez</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Revlon.png" alt="Tienda 2 shop front">
                        <figcaption>Revlon</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Angelo Gordon</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Sephora.png" alt="Tienda 2 shop front">
                        <figcaption>Sephora</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> LVMH Moët Hennessy Louis Vuitton</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Tarte.png" alt="Tienda 2 shop front">
                        <figcaption>Tarte</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Maureen Kelly</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

                <article class="shop-card">
                    <figure>
                        <img src="/views/public/assets/img/Too Faced.png" alt="Tienda 2 shop front">
                        <figcaption>Too Faced</figcaption>
                    </figure>
                    <p><strong>Address:</strong> Calle 45 #30-20</p>
                    <p><strong>Owner:</strong> Tara Simon</p>
                    <p><strong>Bestseller:</strong> Summer Sandals</p>
                    <p><strong>Active:</strong> 1 year</p>
                </article>

            </div>
        </section>
    </main>

  <footer class="footer">
    <div class="footer-content">
      <div class="footer-text">
        <p class="footer-title">Do you want to explore more of our work?</p>
        <p class="footer-subtitle">Follow us on our social networks and contact us</p>
      </div>

      <div class="social-links">
        <a href="#" target="_blank">
          <img src="/views/public/assets/icons/wpp.png" alt="WhatsApp">
        </a>
        <a href="#" target="_blank">
          <img src="/views/public/assets/icons/instagram.png" alt="Instagram">
        </a>
        <a href="#" target="_blank">
          <img src="/views/public/assets/icons/facebook.png" alt="Facebook">
        </a>
        <a href="#" target="_blank">
          <img src="/views/public/assets/icons/github.png" alt="GitHub">
        </a>
      </div>

      <div class="contact-info">
        <p>onheels@gmail.com</p>
        <p>Barranquilla, Colombia</p>
      </div>
    </div>
  </footer>
</body>

</html>